@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Roboto+Condensed:wght@400;500;700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, Lucida, sans-serif;
}

:root {
  --primary-color: #ef4e24;
  --secondary-color: white;
  --light-grey: #00000099;
  --light-green: #1b592c;
  --green: #399936;
  --footer: rgb(60, 61, 62);
  --max-width: 1080px;
}
a.active {
  color: var(--primary-color) !important;
}
.primaryColor {
  color: var(--primary-color);
}
