.exploreContainer {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  align-items: center;
  padding: 6% 0px;
  width: 80%;
}
.featuresList h3 {
  font-size: 35px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  font-weight: 400;
}
.featuresList h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 30px;
}
.feature {
  display: flex;
  align-items: center;
  gap: 15px;
}
.feature h5 {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
  margin: 0px;
}
.featuresList p {
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0px 0px 0px;
}
.appScreens {
  height: 454px;
}

.bgImage {
  background-image: url("/bgImage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bgColor {
  background-image: repeating-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.textContainer {
  width: 80%;
  max-width: var(--max-width);
  margin: auto;
  padding: 80px 0px;
}
.textContainer p {
  font-size: 22px;
  color: var(--secondary-color);
  margin: 0px;
  padding: 0px;
  padding-bottom: 17px;
  text-align: center;
  line-height: 30px;
}

.safetyStandards {
  padding: 6% 0px;
}
.saftetyHeading {
  max-width: var(--max-width);
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.saftetyHeading h2 {
  margin: 0px;
  font-size: 45px;
  font-weight: 400;
  color: var(--light-green);
}
.saftetyHeading img {
  height: 90px;
  width: auto;
}

.guidelinesContainer {
  display: flex;
  width: 80%;
  max-width: var(--max-width);
  margin: auto;
  padding-top: 54px;
}
.riderGuidelines h4,
.chefsGuidelines h4 {
  font-size: 26px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  margin-bottom: 5.82%;
}
.riderGuidelines {
  margin-right: 5.5%;
}

.guideline {
  display: flex;
  gap: 15px;
  margin-bottom: 5.82%;
}
.guideline img {
  height: 66px;
  width: auto;
}
.guideline div h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}
.guideline div p {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  line-height: 26px;
}

.cateringContainer {
  background-image: url("/catering.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 82px);
}

.cateringContainerBGColor {
  height: calc(100vh - 82px);
  background-image: repeating-linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.catering {
  margin: auto;
  width: 80%;
}
.catering h1 {
  font-size: 75px;
  color: var(--secondary-color);
  font-weight: 400;
  margin: 0px;
  line-height: 110px;
  margin-bottom: 120px;
}
.catering a {
  text-decoration: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 11px 20px;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
  max-width: 175px;
  overflow: hidden;
  max-height: 25px;
  display: block;
  position: relative;
}
.catering a:hover {
  border-color: transparent;
  background-color: hsla(0, 0%, 100%, 0.2);
  max-width: 200px;
}
.catering a:hover img {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.3s ease-in-out;
}
.catering img {
  height: 20px;
  width: auto;
  opacity: 0;
  transform: translateX(-20px);
  position: absolute;
  margin-left: 10px;
  top: 13px;
}

@media (max-width: 980px) {
  .exploreContainer {
    flex-direction: column;
  }
  .appScreens {
    height: auto;
    width: 100%;
  }
  .saftetyHeading img {
    width: 40%;
    height: auto;
  }
  .saftetyHeading {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .guidelinesContainer {
    flex-direction: column;
  }
  .riderGuidelines {
    margin-right: 0px;
  }
}

@media (max-width: 770px) {
  .textContainer p {
    font-size: 17px;
    line-height: 25px;
  }
  .saftetyHeading h2 {
    font-size: 25px;
  }
  .riderGuidelines h4,
  .chefsGuidelines h4 {
    font-size: 18px;
  }
  .catering h1 {
    font-size: 25px;
    line-height: 35px;
  }
}
